<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SetupDNS</title>
    <link rel="stylesheet" href="/static/w3.css">
</head>
<body class="w3-red">
    <h1 class="w3-xxlarge w3-display-topmiddle">Setup DNS</h1>
    <form class="w3-center w3-display-middle"action="/setdns" method="post">
        <label for="host">Host :</label>
        <input type="text" class="w3-input" name="host"><br>
        <label for="type">Type :</label>
        <input type="text" class="w3-input" name="type" value="A">
        <br>
        <label for="answer">Answer</label>
        <input type="text" class="w3-input" name="answer" id="">
        <br>
        <label for="ttl">TTL</label>
        <input type="text" class="w3-input" name="ttl">        
        <br>
        <input type="submit" value="Set Up DNS">
    </form>
</body>
</html>